pcc/cc/cc/cc
pcc/cc/ccom/ccom
pcc/cc/ccom/cgram.c
pcc/cc/ccom/cgram.h
pcc/cc/ccom/common.lo
pcc/cc/ccom/external.c
pcc/cc/ccom/external.h
pcc/cc/ccom/mkext
pcc/cc/ccom/mkext.lo
pcc/cc/ccom/scan.c
pcc/cc/ccom/table.lo
pcc/cc/cpp/cpp
pcc/cc/cxxcom/cgram.c
pcc/cc/cxxcom/cgram.h
pcc/cc/cxxcom/common.lo
pcc/cc/cxxcom/cxxcom
pcc/cc/cxxcom/external.c
pcc/cc/cxxcom/external.h
pcc/cc/cxxcom/mkext
pcc/cc/cxxcom/mkext.lo
pcc/cc/cxxcom/scan.c
pcc/cc/cxxcom/table.lo
    
